@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

$dark-app-background-color: bp.$dark-gray1;

.app {
  background: bp.$pt-app-background-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: bp.$pt-grid-size;

  &:global(.#{bp.$ns}-dark) {
    background: $dark-app-background-color;
  }
}

.fontWeightLight {
  font-weight: 300;
}

.fontWeightRegular {
  font-weight: 400;
}
