@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: bp.$pt-grid-size;
}

.fontWeightLight {
  font-weight: 300;
}

.fontWeightRegular {
  font-weight: 400;
}
