@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.playlistTableContainer {
  width: 100%;
  border-left: solid 1px bp.$pt-dark-divider-white;
  // TODO: consider one of the suggested fixed header layouts
  // see https://react-table-library.com/?path=%2Fdocs%2Ffeatures-fixed-header--in-flex-container
  table {
    // override react-table-library
    display: table;
  }

  .header,
  .body {
    display: grid;
    grid-template-columns: var(--data-table-library_grid-template-columns);
  }

  .row {
    background: bp.$dark-gray2;
  }
}

.header {
  th {
    padding: 2px 4px;
  }
}

.body {
  border-top: solid 1px bp.$pt-dark-divider-white;
  overflow-y: scroll;

  tr.selectedPath {
    background-color: darken(bp.$blue1, 15%);
  }

  tr.selected {
    background-color: bp.$blue1;
  }

  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 4px;
  }
}
