@use "@blueprintjs/core/lib/scss/variables.scss" as bp;
@import "../../common/variables";

.playlistTableContainer {
  padding-left: 1px; // allows border from container element to show
  padding-bottom: $sidebar-footer-height + 1px; // space for footer + border
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  line-height: $small-button-height - 1px; // subtract 1px for border width
  padding: $table-header-padding;
  border-bottom: solid 1px bp.$pt-dark-divider-white;
  flex-grow: 0;
}

.body {
  overflow-y: auto;
}
