@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

$width-standard: 300px;
$width-wide: 500px;

.loadLibraryForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  :global(.bp5-form-group) {
    max-width: $width-standard;
  }

  .recentLibrariesForm {
    max-width: $width-wide;
  }
}

.separator {
  margin: 10px 0;
  position: relative;
  width: $width-standard;

  &:before {
    background: bp.$pt-divider-black;
    content: "";
    display: block;
    height: 1px;
    left: 4rem;
    position: absolute;
    top: 10px;
    width: calc(50% - 5rem);
  }

  &:after {
    background: bp.$pt-divider-black;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 4rem;
    top: 10px;
    width: calc(50% - 5rem);
  }

  :global([data-mantine-color-scheme="dark"]) & {
    &:before,
    &:after {
      background: bp.$pt-dark-divider-white;
    }
  }
}

.dropzone {
  align-items: center;
  border-radius: bp.$pt-border-radius;
  border: dashed 1px bp.$pt-divider-black;
  display: flex;
  justify-content: center;
  padding: 20px 10px;

  :global([data-mantine-color-scheme="dark"]) & {
    border-color: 1px bp.$pt-dark-divider-white;
  }
}

.clearRecent {
  display: inline-flex;
  margin-top: 10px;
}

.recentLibrariesMenu {
  margin-top: 5px;
}
