@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.app {
    background: bp.$pt-app-background-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: bp.$pt-grid-size;

    &:global(.#{bp.$ns}-dark) {
        background: bp.$pt-dark-app-background-color;
    }
}
