@use "@blueprintjs/core/lib/scss/variables.scss" as bp;
@import "../common/variables";

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    padding: 0;

    :global(.#{bp.$ns}-non-ideal-state) {
        flex-grow: 1;
    }
}

.libraryHeader {
    padding: bp.$pt-grid-size * 2;
}

.libraryLoaded {
    .loadLibraryButton {
        float: right;
        margin: $double-grid-size;
    }
}
