@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.container {
    border-top: solid 1px bp.$pt-dark-divider-white;
    width: 100%;
}

.header,
.body,
.footer {
    table {
        table-layout: fixed;
        width: 100%;
    }
}

.body,
.footer {
    thead {
        display: none;
    }
}

.body {
    overflow-y: scroll;
    border-top: solid 1px bp.$pt-dark-divider-white;

    tr.selected {
        background-color: bp.$blue1;
    }

    td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
