@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.userSettingsDropdown {
  display: inline-flex;
}

$popover-padding: 10px;

.popover {
  display: flex;
  flex-direction: column;
  gap: $popover-padding;
  padding: $popover-padding;

  .divider {
    margin: 0 (-$popover-padding);
  }

  :global(.#{bp.$ns}-form-group.#{bp.$ns}-inline) {
    align-items: center;
  }
}

.validIcon {
  margin: 7px;
}
