@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.container {
    background: bp.$dark-gray1;
    border: solid 1px bp.$pt-dark-divider-white;
    border-top: none;
    padding: 5px;
}

.player {
    height: 80px;
}
