$width-standard: 300px;
$width-wide: 500px;

.dropzone {
  --outline-color: var(--mantine-color-gray-5);
  --background-color: var(--mantine-color-gray-0);

  align-items: center;
  border-radius: var(--mantine-radius-md);
  border: dashed 1px var(--outline-color);
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  background-color: var(--background-color);

  &.active {
    --background-color: var(--mantine-primary-color-light-hover);
  }

  :global([data-mantine-color-scheme="dark"]) & {
    --outline-color: var(--mantine-color-gray-7);
    --background-color: var(--mantine-color-gray-8);

    &.active {
      --background-color: var(--mantine-primary-color-light-hover);
    }
  }
}
