@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

$dark-app-background-color: bp.$dark-gray1;

.app {
    background: bp.$pt-app-background-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: bp.$pt-grid-size;

    &:global(.#{bp.$ns}-dark) {
        background: $dark-app-background-color;
    }
}

.appChrome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    :global(.#{bp.$ns}-heading) {
        margin: 0;
    }
}

.appChromeLeft {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;

    :global(.#{bp.$ns}-divider) {
        height: 24px;
    }
}
