@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.appChrome {
  margin-bottom: 5px;

  :global(.#{bp.$ns}-heading) {
    margin: 0;
  }
}

.appChromeLeft {
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;

  :global(.#{bp.$ns}-divider) {
    height: 24px;
  }
}

.appChromeRight {
}
