@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.popover {
  padding: 10px;
}

.buttons {
  // account for text input label height
  margin-top: calc(var(--mantine-line-height) * 1em);
}
