@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  .divider {
    height: 20px;
    margin-block: 0;
  }
}

.popover {
  padding: 10px;
}

$inputWidth: 400px;

.outputFilepath {
  margin-bottom: 10px;
  width: $inputWidth;

  :global(.#{bp.$ns}-file-upload-input) {
    width: $inputWidth;
  }
}
