@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.appChrome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    :global(.#{bp.$ns}-heading) {
        margin: 0;
    }
}

.appChromeLeft {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;

    :global(.#{bp.$ns}-divider) {
        height: 24px;
    }
}
