@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.popover {
    padding: 10px;
}

.backdrop:global(.#{bp.$ns}-popover-backdrop) {
    background-color: rgba(bp.$black, 0.25);
}
