.container {
  height: calc(100vh - 40px);
}

.emptyState {
  --icon-fill-color: var(--mantine-color-gray-5);
  --icon-stroke-color: var(--mantine-color-dark-5);

  :global([data-mantine-color-scheme="dark"]) & {
    --icon-fill-color: var(--mantine-color-dark-1);
    --icon-stroke-color: var(--mantine-color-dark-1);
  }

  :global(.bp5-icon svg) {
    fill-opacity: 0.25;
    // need to show overflow for some strokes on paths that reach the edge of the icon bounding box
    overflow: visible;

    path {
      fill: var(--icon-fill-color);
      stroke: var(--icon-stroke-color);
      stroke-opacity: 1;
      stroke-width: 1px;
    }
  }
}

.libraryLoaded {
  height: 100%;
  position: relative;
}

.librarySidebar {
  justify-content: space-between;
  position: relative; // creates a stacking context for playlist table layout

  .librarySidebarFooter {
    bottom: 0;
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.library {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
