@use "@blueprintjs/core/lib/scss/variables.scss" as bp;
@import "../common/variables";

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  padding: 0;

  :global(.#{bp.$ns}-non-ideal-state) {
    flex-grow: 1;
  }
}

.libraryLoaded {
  height: 100%;
  position: relative;
}

.library {
  width: 100%;
  height: 100%;
}

.libraryHeader {
  display: flex;
  flex-direction: row;
}

.libraryHeaderSection {
  :global(.#{bp.$ns}-form-group:not(:last-of-type)) {
    margin-bottom: 5px;
  }
}

.audioPlayer {
  // empty
}

.librarySidebar {
  justify-content: space-between;

  .librarySidebarFooter {
    height: 30px;
    padding: 5px 7px;
    border-top: solid 1px bp.$pt-dark-divider-white;
  }
}
