.librarySidebar {
  justify-content: space-between;
  position: relative; // creates a stacking context for playlist table layout

  .librarySidebarFooter {
    bottom: 0;
    height: 30px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.library {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
