.value {
  padding-block: 2px;
}

.editInput {
  display: none;
  --input-height-compact-sm: 24px;
  --mantine-font-size-sm: 14px;
}

.editButtonContainer {
  display: none;
  position: absolute;
  right: 0;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.editButtonGradient {
  top: 0;
  height: 100%;
  width: 100px;
  right: 0;
  position: absolute;

  --gradient-start: color-mix(in srgb, var(--mantine-color-white) 0%, transparent);
  --gradient-end: var(--mantine-color-white);

  background: linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 80%);

  :global([data-mantine-color-scheme="dark"]) & {
    --gradient-start: color-mix(in srgb, var(--mantine-color-dark-8) 0%, transparent);
    --gradient-end: color-mix(in srgb, var(--mantine-color-dark-8) 100%, transparent);
  }
}

.editButton {
  height: 18px;
  position: relative; // allows stacking above gradient element
  margin-right: 2px;
}

.spinner {
  padding: 2px;
  margin-right: 6px;
}

.editableOnHover {
  height: 100%;
  display: flex;
  position: relative;

  &.alignLeft {
    justify-content: flex-start;

    .value {
      // matches input padding
      padding-left: 8px;
    }
  }

  &.alignRight {
    justify-content: flex-end;

    .value {
      // matches input padding
      padding-right: 8px;
    }

    .editInput input {
      text-align: right;
    }
  }

  &:not(.isEditing) {
    &:hover {
      &:not(.showGradient) {
        // when we are not showing the gradient overlay over the value, we must hide it in the hover state
        .value {
          display: none;
        }
      }

      .editButtonContainer {
        display: flex;
      }
    }
  }

  &.isEditing {
    .value {
      display: none;
    }

    .editButtonContainer {
      display: none;
    }

    .editInput {
      display: block;
      width: 100%;
    }
  }
}
