@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.value {
  padding-block: 2px;
}

.editInput {
  display: none;

  :global(.#{bp.$ns}-input-group.#{bp.$ns}-small) input {
    font-size: 14px;
  }
}

.editButtonContainer {
  display: none;
  position: absolute;
  right: 0;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.editButtonGradient {
  top: 0;
  height: 100%;
  width: 100px;
  right: 0;
  position: absolute;
  background: linear-gradient(90deg, rgba(bp.$light-gray2, 0) 0%, rgba(bp.$light-gray2, 1) 80%);

  :global(.#{bp.$ns}-dark) & {
    background: linear-gradient(90deg, rgba(bp.$dark-gray1, 0) 0%, rgba(bp.$dark-gray1, 1) 80%);
  }
}

.editButton {
  position: relative; // allows stacking above gradient element
  margin-right: 2px;
}

.spinner {
  margin-right: 8px;
}

.editableOnHover {
  height: 100%;
  display: flex;
  position: relative;

  &.alignLeft {
    justify-content: flex-start;

    .value {
      // matches input padding
      padding-left: 8px;
    }
  }

  &.alignRight {
    justify-content: flex-end;

    .value {
      // matches input padding
      padding-right: 8px;
    }

    .editInput input {
      text-align: right;
    }
  }

  &:not(.isEditing) {
    &:hover {
      &:not(.showGradient) {
        // when we are not showing the gradient overlay over the value, we must hide it in the hover state
        .value {
          display: none;
        }
      }

      .editButtonContainer {
        display: flex;
      }
    }
  }

  &.isEditing {
    .value {
      display: none;
    }

    .editButtonContainer {
      display: none;
    }

    .editInput {
      display: block;
      width: 100%;
    }
  }
}
