.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, var(--mantine-color-dark-3) 50%, transparent);

  :global([data-mantine-color-scheme="dark"]) & {
    background-color: color-mix(in srgb, var(--mantine-color-dark-9) 50%, transparent);
  }
}
