@use "sass:color";
@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.node {
  &.selectedPath {
    > :global(.#{bp.$ns}-tree-node-content) {
      background-color: color.adjust(bp.$blue5, $lightness: 10%);
    }

    &:global(.#{bp.$ns}-tree-node-selected) > :global(.#{bp.$ns}-tree-node-content) {
      background-color: bp.$pt-intent-primary;
    }
  }
}

:global(.#{bp.$ns}-dark) .node {
  &.selectedPath {
    > :global(.#{bp.$ns}-tree-node-content) {
      background-color: color.adjust(bp.$blue1, $lightness: -15%);
    }

    &:global(.#{bp.$ns}-tree-node-selected) > :global(.#{bp.$ns}-tree-node-content) {
      background-color: bp.$blue1;
    }
  }
}
