.node {
  border: solid 1px transparent;
  margin-bottom: -1px; // slight overlap to avoid double border on hover
  cursor: default;

  &.selectOnClick {
    cursor: pointer;

    &.selectedPath {
      background-color: var(--mantine-primary-color-light);
      border: solid 1px var(--mantine-primary-color-filled);
    }

    &:hover {
      background-color: var(--mantine-primary-color-light-hover);
      border-color: var(--mantine-primary-color-9);
    }
  }
}

:global([data-mantine-color-scheme="dark"]) .node {
  &.selectOnClick:hover {
    border-color: var(--mantine-primary-color-1);
  }
}

.checkbox {
  cursor: pointer;

  &:not(.checked):hover {
    background-color: var(--mantine-primary-color-light-hover);
  }
}
