@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.bpmOverlay {
    align-items: center;
    background: rgba(bp.$black, 0.8);
    border-bottom-left-radius: 3px;
    display: inline-flex;
    gap: 5px;
    padding: 10px;
    height: 55px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; // just above the waveform
}

.bpmValue {
    width: 40px;

    &.adjusted {
        color: bp.$blue4;
    }
}

.tempoSliderToggleButton {
    margin: 0 5px;
}

.tempoSliderContainer {
    align-items: center;
    display: inline-flex;
    gap: 5px;

    :global(.#{bp.$ns}-slider) {
        margin: 0 20px;
        width: 200px;
    }
}
