.trackTableContainer {
  --divider-color: var(--mantine-color-gray-3);
  --row-hover-color: var(--mantine-color-gray-2);

  :global([data-mantine-color-scheme="dark"]) & {
    --divider-color: var(--mantine-color-gray-7);
    --row-hover-color: var(--mantine-color-dark-5);
  }
}

.trackTable {
  height: 100%;

  &.contextMenuIsOpen {
    user-select: none;
  }
}

.analyzeAllButton {
  font-weight: bold;
}

.smallOutlinedButton {
  height: 18px;
}

.trackTableEmpty {
  height: 100%;
}
