@use "@blueprintjs/core/lib/scss/variables.scss" as bp;
@import "variables";

// more compact tree (horizontal padding)
.#{bp.$ns}-tree.#{bp.$ns}-compact {
  .#{bp.$ns}-tree-node-content-1 {
    padding-left: 20px;
  }

  .#{bp.$ns}-tree-node-content-2 {
    padding-left: 40px;
  }

  .#{bp.$ns}-tree-node-content-3 {
    padding-left: 60px;
  }

  .#{bp.$ns}-tree-node-content-4 {
    padding-left: 80px;
  }
}
