@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

$double-grid-size: bp.$pt-grid-size * 2;
$half-grid-size: bp.$pt-grid-size * 0.5;

$small-button-height: 20px;
$small-button-font-size: 12px;

$table-cell-padding: 0 4px;
$table-cell-height: 24px;

$sidebar-footer-height: 30px;
$sidebar-footer-padding: 5px 7px;
