@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.popoverBackdrop:global(.#{bp.$ns}-popover-backdrop) {
  background-color: rgba(bp.$black, 0.25);
  transition: opacity (bp.$pt-transition-duration * 3) bp.$pt-transition-ease;
  opacity: 0;

  &:has(~ :global(.#{bp.$ns}-popover-enter-active), ~ :global(.#{bp.$ns}-popover-enter-done)) {
    opacity: 1;
  }
}
