@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

table.#{bp.$ns}-html-table.#{bp.$ns}-html-table.#{bp.$ns}-compact {
    th,
    td {
        padding: 2px 6px;
    }
}

// darker dark theme
.#{bp.$ns}-dark {
    .#{bp.$ns}-card {
        background-color: bp.$dark-gray2;
    }
}

// smaller small button
.#{bp.$ns}-button.#{bp.$ns}-small {
    min-height: 20px;
    font-size: 12px;
}

.#{bp.$ns}-section.#{bp.$ns}-compact .#{bp.$ns}-section-card.#{bp.$ns}-padded {
    padding: 10px 15px;
}

.#{bp.$ns}-form-group,
.#{bp.$ns}-control {
    margin: 0;
}

.#{bp.$ns}-slider {
    min-width: 100px;
}
