@use "sass:color";
@use "@blueprintjs/core/lib/scss/variables.scss" as bp;
@import "../../common/variables";

.trackTableContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding allows container border to show
  padding-right: 1px;
  padding-bottom: 1px;

  .headerRow {
    background: bp.$light-gray4;
    font-size: bp.$pt-font-size-small;
  }

  :global(.resizer-handle) {
    background-color: bp.$pt-divider-black;
  }

  .row {
    &:global(.row-select-clickable):hover {
      background-color: bp.$light-gray3;
    }

    &:global(.row-select-single-selected) {
      background-color: color.adjust(bp.$blue5, $lightness: 10%);
      font-weight: 600; // override react-table-library default which sets '800'

      &:hover {
        background-color: color.adjust(bp.$blue4, $lightness: 10%);
      }
    }

    &.rowActive {
      // N.B. it would be great to style the active row here, but this element has no box in the DOM;
      // its parent div has the box which takes up correct space, so we a border shadow there instead
    }
  }

  [role="columnheader"] {
    border-bottom: solid 1px bp.$pt-divider-black;
  }

  .headerCell {
    padding: $table-header-padding;

    &.editableColumn {
      padding-left: 10px;
    }
  }

  [role="gridcell"] {
    padding: $table-cell-padding;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  [role="row"] {
    background: none;

    .selected {
      background-color: bp.$blue5;
    }
  }

  :global(.tbody) {
    // HACKHACK: rows are just divs without classes with <Virtualized>
    > div {
      &:nth-of-type(odd) {
        background: bp.$light-gray5;
      }

      &:nth-of-type(even) {
        background: bp.$white;
      }

      &:has(> .rowActive) {
        box-shadow: inset 0 0 0 1px bp.$blue5;
      }
    }
  }

  :global(.#{bp.$ns}-dark) & {
    .headerRow {
      background: bp.$dark-gray2;
    }

    :global(.resizer-handle) {
      background-color: bp.$pt-dark-divider-white;
    }

    .row {
      &:global(.row-select-clickable):hover {
        background-color: bp.$dark-gray3;
      }

      &:global(.row-select-single-selected) {
        background-color: bp.$blue1;
        font-weight: 600; // override react-table-library default which sets '800'

        &:hover {
          background-color: bp.$blue2;
        }
      }
    }

    [role="columnheader"] {
      border-bottom: solid 1px bp.$pt-dark-divider-white;
    }

    [role="row"] {
      .selected {
        background-color: bp.$blue1;
      }
    }

    :global(.tbody) {
      // HACKHACK: rows are just divs without classes with <Virtualized>
      > div {
        &:nth-of-type(odd) {
          background: bp.$dark-gray1;
        }

        &:nth-of-type(even) {
          background: bp.$dark-gray2;
        }

        &:has(> .rowActive) {
          box-shadow: inset 0 0 0 1px bp.$blue1;
        }
      }
    }
  }
}

.trackTable {
  &.contextMenuIsOpen {
    user-select: none;
  }

  // HACKHACK: there is a bug in the <Virtualized> component `rowHeight` prop where it does not calculate
  // row offsets correctly when configured with different row heights (e.g. header row is taller than body rows).
  // In order to work around this and avoid cutting off the first row in the table, we apply CSS transforms
  // to some of the the <Virtualized> container elements (targeted using `:has` selectors).

  // direct parent of header and body containers
  div:has(> :global(.tbody)) {
    transform: translateY(6px);
  }

  // header container
  div:has(> :global(.thead)[role="rowgroup"]) {
    transform: translateY(-6px);
  }
}

.bpmColumnHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.indexCell {
  font-size: bp.$pt-font-size-small;
  color: bp.$pt-text-color-muted;
  text-align: right;

  :global(.#{bp.$ns}-dark) & {
    color: bp.$pt-dark-text-color-muted;
  }
}

.bpmCell {
  display: block;
  text-align: right;
}

.analyzeAllButton {
  font-weight: bold;
}

.smallOutlinedButton {
  &:global(.#{bp.$ns}-button.#{bp.$ns}-outlined) {
    // no override for light theme
  }

  :global(.#{bp.$ns}-dark) & {
    &:global(.#{bp.$ns}-button.#{bp.$ns}-outlined) {
      border-color: rgba(bp.$white, 0.25);
    }
  }
}

:global(.resizer) {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: bp.$pt-divider-black;
  opacity: 0.8;
  cursor: col-resize;
  user-select: none;
  touch-action: none;

  &:global(.isResizing) {
    opacity: 1;
  }

  :global(.#{bp.$ns}-dark) & {
    background: bp.$pt-dark-divider-white;
  }
}

.trackTableEmpty {
  height: 100%;
}
