@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.tableFilter {
  max-height: 30px;

  :global(.#{bp.$ns}-collapse-body) {
    border-bottom: solid 1px bp.$pt-dark-divider-white;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding: 4px 6px;
  }

  :global(.#{bp.$ns}-form-group.#{bp.$ns}-inline) {
    flex-basis: 306px;

    :global(.#{bp.$ns}-form-content) {
      line-height: 20px;
      flex-basis: 240px;
    }

    :global(.#{bp.$ns}-label) {
      line-height: 20px;
    }
  }

  :global(.#{bp.$ns}-input-group) {
    :global(.#{bp.$ns}-input) {
      height: 20px;
    }
  }
}
