.trackRatingStars {
  display: inline-flex;
  flex-direction: row;
  gap: 1px;
}

.starEmpty,
.starFilled {
  filter: saturate(50%);
  cursor: pointer;
}

.starFilled {
  &:hover {
    opacity: 0.75;
  }
}

.starEmpty {
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}
