@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.trackTableContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  // padding allows container border to show
  padding-right: 1px;
  padding-bottom: 1px;

  .headerRow {
    background: bp.$dark-gray2;
    font-size: bp.$pt-font-size-small;
  }

  :global(.resizer-handle) {
    background-color: bp.$pt-dark-divider-white;
  }

  .row {
    &:global(.row-select-clickable):hover {
      background-color: bp.$dark-gray3;
    }

    &:global(.row-select-single-selected) {
      background-color: bp.$blue1;
      font-weight: 600; // override react-table-library default which sets '800'

      &:hover {
        background-color: bp.$blue2;
      }
    }

    &.rowActive {
      // N.B. it would be great to style the active row here, but this element has no box in the DOM;
      // its parent div has the box which takes up correct space, so we a border shadow there instead
    }
  }

  [role="columnheader"] {
    border-bottom: solid 1px bp.$pt-dark-divider-white;
  }

  .headerCell {
    padding: 2px 4px;
  }

  [role="gridcell"] {
    padding: 2px 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  [role="row"] {
    background: none;

    .selected {
      background-color: bp.$blue1;
    }
  }

  :global(.tbody) {
    // HACKHACK: rows are just divs without classes with <Virtualized>
    > div {
      &:nth-of-type(odd) {
        background: bp.$dark-gray1;
      }

      &:nth-of-type(even) {
        background: bp.$dark-gray2;
      }

      &:has(> .rowActive) {
        box-shadow: inset 0 0 0 1px bp.$blue1;
      }
    }
  }
}

.trackTable {
  &.contextMenuIsOpen {
    user-select: none;
  }
}

.tableFilter {
  max-height: 30px;

  :global(.#{bp.$ns}-collapse-body) {
    border-bottom: solid 1px bp.$pt-dark-divider-white;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding: 4px 6px;
  }

  :global(.#{bp.$ns}-form-group.#{bp.$ns}-inline) {
    flex-basis: 306px;

    :global(.#{bp.$ns}-form-content) {
      line-height: 20px;
      flex-basis: 240px;
    }

    :global(.#{bp.$ns}-label) {
      line-height: 20px;
    }
  }

  :global(.#{bp.$ns}-input-group) {
    :global(.#{bp.$ns}-input) {
      height: 20px;
    }
  }
}

.bpmColumnHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.indexCell {
  font-size: bp.$pt-font-size-small;
  color: bp.$pt-dark-text-color-muted;
  text-align: right;
}

.bpmCell {
  display: block;
  text-align: right;
}

.analyzeAllButton {
  font-weight: bold;
}

.analyzeTrackButton:global(.#{bp.$ns}-button.#{bp.$ns}-outlined) {
  border-color: rgba(bp.$white, 0.25);
}

:global(.resizer) {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background: bp.$pt-dark-divider-white;
  opacity: 0.8;
  cursor: col-resize;
  user-select: none;
  touch-action: none;

  &:global(.isResizing) {
    opacity: 1;
  }
}

.trackTableEmpty {
  height: 100%;
}
