@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.container {
  background: bp.$light-gray3;
  border: solid 1px bp.$pt-divider-black;
  border-top: none;
  height: 90px;

  :global(.#{bp.$ns}-dark) & {
    background: bp.$dark-gray1;
    border-color: bp.$pt-dark-divider-white;
  }
}

.nonIdealState {
  :global(.#{bp.$ns}-non-ideal-state-text) {
    margin-bottom: 10px;
  }
}

.waveformContainer {
  position: relative;
  padding: 5px;
}
