@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.volumeSlider {
  position: relative;
  width: 150px;
  padding: 0 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
