@use "@blueprintjs/core/lib/scss/variables.scss" as bp;

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.nowPlaying {
  max-width: calc(100vw - 480px);
}

.timeProgress {
  // fixed width to avoid shifting during playback
  width: 80px;
}
