.bpmOverlay {
  --mantine-color-body: #{rgba(var(--mantine-color-white), 0.8)};

  align-items: center;
  border-bottom-left-radius: 3px;
  display: inline-flex;
  gap: 5px;
  padding: 10px;
  height: 55px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; // just above the waveform

  :global([data-mantine-color-scheme="dark"]) & {
    --mantine-color-body: #{rgba(var(--mantine-color-dark-9), 0.8)};
  }
}

.bpmValue {
  width: 40px;

  &.adjusted {
    color: var(--mantine-color-primary-color-light-color);
  }
}

.tempoSliderContainer {
  align-items: center;
  display: inline-flex;
  gap: 5px;
  padding-bottom: 10px;
  padding: 5px;
  transform-origin: right center;
}

.tempoSlider {
  width: 200px;
}

.tempoSliderToggleButton {
  margin: 0 5px;
}
