.bpmOverlay {
  --mantine-color-body: color-mix(in srgb, var(--mantine-color-white) 80%, transparent);

  align-items: center;
  border-bottom-left-radius: 3px;
  display: inline-flex;
  gap: 5px;
  padding: 10px;
  height: 55px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; // just above the waveform

  :global([data-mantine-color-scheme="dark"]) & {
    --mantine-color-body: color-mix(in srgb, var(--mantine-color-dark-9) 80%, transparent);
  }
}

.bpmValue {
  width: 40px;

  &.adjusted {
    color: var(--mantine-color-primary-color-light-color);
  }
}

.tempoSliderContainer {
  align-items: center;
  display: inline-flex;
  gap: 5px;
  padding-bottom: 10px;
  transform-origin: right center;

  &.open {
    padding-inline: 5px;
  }
}

.tempoSlider {
  width: 200px;
}

.tempoSliderToggleButton {
  margin: 0 5px;
}
